.container{
    max-width: 1140px;
    margin: auto;
}

img.background{
    width: 100%;

}
img.logo{
    padding-bottom: 10px;
    width: 10%;
    height: 10%;
}
img.mouse{
    position: absolute;
    bottom: 40px;
    left: 50%;
}
.introduction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.container #about{
    text-align: center;
    padding-top: 20px;
    
}

.simage{
    padding-top: 20px;
    width: 100%;
}

.card-deck{
    text-align: center;
}

.service{
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.do h4{
    padding-top: 20px;
    text-align: center;
}
.column {
    float: left;
    width: 25%;
  }